# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/
env/

# Environment Variables
.env

# Database
db.sqlite3

# Media
media/

# IDE
.vscode/
.idea/

# Logs
*.log

# Test
.coverage
htmlcov/
.pytest_cache/

# Build
dist/
build/
*.egg-info/
